{% extends "preview.html" %}

{% block title %}Gallery{% endblock %}

{% block content_actual %}
<div class="onecolumn">
    <h1>Gallery</h1>
    <p>
        The most exciting moments of my life.
        <br/>
        (Actually, not. Just brought here some Cayley tables of randomly generated groups.)
    </p>
</div>

{% for picture in pictures %}
<div class="fourcolumns">
        <div class="thumbnail">
            <img class="preview"
                 src="{{ url_for('.static', filename=picture) }}"
                 alt="{{ picture }}"
                 onclick="showImage(event);">
        </div>
</div>
{% endfor %}

{% endblock %}
