{% if not standalone %}
    {% extends "layout.html" %}
{% else %}
    {% extends "ajax.json" %}
{% endif %}

{% block content %}

{% block content_actual %}{% endblock %}

{% if full_size %}
<div class="show show-visible" onclick="hideImage(event);">
{% else %}
<div class="show show-hidden" onclick="hideImage(event);">
{% endif %}
    <div class="expand" onclick="hideImage(event);"></div>
    <div class="popup" onclick="hideImage(event);">
        <div class="help help-hidden">
            <h4>Help</h4>
            <ul>
                <li><b>F1</b> - help</li>
                <li><b>Left arrow</b> or <b>a</b> - previous</li>
                <li><b>Right arrow</b> or <b>d</b> - next</li>
                <li><b>Escape</b> - close</li>
            </ul>
        </div>
        {% if full_size %}
        <img class="image-full"
             src="{{ url_for('.static', filename=full_size) }}"
             onclick="hideImage(event);">
        {% endif %}
    </div>
    <div class="expand" onclick="hideImage(event);"></div>
</div>

{% endblock %}
