{% if not standalone %}
    {% extends "layout.html" %}
{% else %}
    {% extends "ajax.json" %}
{% endif %}

{% block title %}Gallery{% endblock %}

{% block content %}
<div class="onecolumn">
    <h1>Gallery</h1>
    <p>
        The most exciting moments of my life.
        <br/>
        (Actually, not. Just brought here some Cayley tables of randomly generated groups.)
    </p>
</div>

{% for picture in pictures %}
<div class="fourcolumns">
        <div class="thumbnail">
            <img src="{{ url_for('static', filename=picture) }}"
                 onclick="showImage(event);"></img>
        </div>
</div>
{% endfor %}

{% if full_size %}
<div class="show show-visible" onclick="hideImage(event);">
{% else %}
<div class="show show-hidden" onclick="hideImage(event);">
{% endif %}
    <div class="popup">
        <div class="help help-hidden">
            <h4>Help</h4>
            <ul>
                <li><b>F1</b> - help</li>
                <li><b>Left arrow</b> or <b>a</b> - previous</li>
                <li><b>Right arrow</b> or <b>d</b> - next</li>
                <li><b>Escape</b> - close</li>
            </ul>
        </div>
        {% if full_size %}
        <img class="image-full" src={{ url_for('static', filename=full_size) }}></img>
        {% else %}
        <img class="image-full"></img>
        {% endif %}
    </div>
</div>

{% endblock %}
