
{% extends "preview.html" %}

{% block title %}/nl/{% endblock %}

{% block content_actual %}

{% for thread, op, op_message, count in threads %}
<div class="onecolumn thread" onmouseenter="updateLikes(event, {{ op.id }});">
    <div class="post-header">
        <p class="thread-reply">[<a href="/board/thread/{{ thread.id }}">Reply</a>]</p>
        <p class="post-id">No.{{ thread.id }}</p>
        <p class="thread-subject">{{ thread.subject }}</p>
        <p class="post-author">{{ op.author }}</p>
        <p class="post-time">{{ op.time.strftime('%Y/%m/%d %H:%M:%S') }}</p>
    </div>
    {% if op.attachment %}
    <img class="post-attachment preview"
         src="{{ url_for('.static', filename=thumbnail(op.attachment)) }}"
         alt="{{ op.attachment }}"
         onclick="showImage(event);">
    {% endif %}
    <div class="post-content">{{ op_message|boardify }}</div>

    <div class="post-footer">
        <p id="dislikes{{ op.id }}" class="post-dislikes" onclick="doDislike(event, {{ op.id }});">{{ op.dislikes.count() }}</p>
        <p id="likes{{ op.id }}" class="post-likes" onclick="doLike(event, {{ op.id }});">{{ op.likes.count() }}</p>
    </div>

    {% if count > 0 %}
    <div class="thread-hidden">
        {{ count }} {% if count > 1 %} replies are {% else %} reply is {% endif %} hidden.
        <a href="/board/thread/{{ thread.id }}">Click here</a> to view.
    </div>
    {% endif %}
</div>

{% endfor %}

{% if pages > 0 %}
<div class="onecolumn paginator">
    Page:
{% for page in range(pages) %}
    {% if page == current_page %}
        [<span class="paginator-item paginator-current">{{ page }}</span>]
    {% else %}
        [<a class="paginator-item" href="/board/page/{{ page }}">{{ page }}</a>]
    {% endif %}
{% endfor %}
</div>
{% endif %}

<div class="onecolumn">
    <form id="postform" class="postform" method="POST">
        <h3>Start a new thread</h3>
        {{ form.csrf_token }}

        <p>{{ form.subject }}</p>
        <p>{{ form.author }}</p>
        <p>{{ form.message }}</p>
        <p>{{ form.fileupload }}</p>

        <p id="formerror" class="formerror"></p>

        <input class="submit" type="submit"
            value="Start" onclick="startThread(event);">
    </form>
</div>

{% endblock %}
