
{% extends "preview.html" %}

{% block title %}/nl/{% endblock %}

{% block content_actual %}

{% for thread, op in threads %}
<div class="onecolumn thread">
    <div class="post-header">
        <p class="thread-reply">[<a href="board/thread/{{ thread.id }}">Reply</a>]</p>
        <p class="post-id">No.{{ thread.id }}</p>
        <p class="thread-subject">{{ thread.subject }}</p>
        <p class="post-author">{{ op.author }}</p>
        <p class="post-time">{{ op.time.strftime('%Y/%m/%d %H:%M:%S') }}</p>
    </div>
    {% if op.attachment %}
    <img class="post-attachment preview"
         src="{{ url_for('.static', filename=thumbnail(op.attachment)) }}"
         alt="{{ op.attachment }}"
         onclick="showImage(event);">
    {% endif %}
    <div class="post-content">{{ op.message.replace('\n', '<br/>')|clean }}</div>
</div>

{% endfor %}

<div class="onecolumn">
    <form id="postform" class="postform" method="POST">
        <h3>Start a new thread</h3>
        {{ form.csrf_token }}

        <p>{{ form.subject }}</p>
        <p>{{ form.author }}</p>
        <p>{{ form.message }}</p>
        <p>{{ form.fileupload }}</p>

        <input class="submit" type="submit"
            value="Start" onclick="startThread(event);">
    </form>
</div>

{% endblock %}
