{% extends "preview.html" %}

{% block title %}/nl/{% endblock %}

{% block content_actual %}

<div class="onecolumn thread">
{% if thread.subject %}
    <h2>{{ thread.subject }}</h2>
{% endif %}
    <div class="post-header">
        <p class="post-author">{{ op.author }}</p>
        <p class="post-id">No.{{ op.id }}</p>
        <p class="post-time">{{ op.time.strftime('%Y/%m/%d %H:%M:%S') }}</p>
    </div>
    {% if op.attachment %}
    <img class="post-attachment preview"
         src="{{ url_for('.static', filename=thumbnail(op.attachment)) }}"
         alt="{{ op.attachment }}"
         onclick="showImage(event);">
    {% endif %}
    <div class="post-content">{{ op.message|clean }}</div>
</div>

{% for post in posts %}
<div class="onecolumn post">
    <div class="post-header">
        <p class="post-author">{{ post.author }}</p>
        <p class="post-id">No.{{ post.id }}</p>
        <p class="post-time">{{ post.time.strftime('%Y/%m/%d %H:%M:%S') }}</p>
    </div>
    {% if post.attachment %}
    <img class="post-attachment preview"
         src="{{ url_for('.static', filename=thumbnail(post.attachment)) }}"
         alt="{{ post.attachment }}"
         onclick="showImage(event);">
    {% endif %}
    <div class="post-content">{{ post.message|clean }}</div>
</div>
{% endfor %}

<div class="onecolumn">
    <form id="postform" class="postform" method="POST">
        <h3>Post a reply</h3>
        {{ form.csrf_token }}
        <p>{{ form.thread }}</p>
        <p>{{ form.author }}</p>
        <p>{{ form.message }}</p>
        <p>{{ form.fileupload }}</p>
        <input class="submit" type="submit"
            value="Post" onclick="postMessage(event);">
    </form>
</div>

{% endblock %}
