<?xml version="1.0" encoding="UTF-8"?>

<board>
{%for thread, posts in threads %}
<thread id="{{ thread.id }}"{% if thread.subject %}
        subject="{{ thread.subject }}"{% endif %}>
{% for post in posts %}
    <post id="{{ post.id }}"
          time="{{ post.time.strftime('%Y/%m/%d %H:%M:%S') }}"
          likes="{{ post.likes.count() }}"
          dislikes="{{ post.dislikes.count() }}"
          author="{{ post.author }}"{% if post.attachment %}
          attachment="{{ post.attachment }}"{% endif %}>
        {{ post.message }}
    </post>
{% endfor %}
</thread>
{% endfor %}
</board>