{% extends "base.html" %}

{% block title %}niemandkun's lair{% endblock %}

{% block body %}
    <div class="container">

        <div class="header">
            <div class="wrapper">
                <div class="title">niemandkun's&nbsp;lair</div>
                <div class="menu" onclick="switchNavigation()">&#8942;</div>
            </div>

            <div class="navigation navigation-closed">
                <a href="/projects">projects</a>
                <a href="/about">about</a>
            </div>
        </div>

        <div class="cover cover-hidden" onclick="hideNavigation()"></div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <div class="spinner">
            <div class="expand"></div>
            <img src="{{ url_for('.static', filename='gears.svg') }}" alt="Loading...">
            <div class="expand"></div>
        </div>

        <div class="footer">
            <p>
                Site <a href="/counter">status</a>.
                <br/>
                Contact me via
                <a href="mailto:niemandkun@yandex.ru">email</a> or
                <a href="https://vk.com/niemandkun">vk</a>.
            </p>
        </div>

    </div>
{% endblock %}
