{% if not standalone %}
    {% extends "layout.html" %}
{% else %}
    {% extends "ajax.json" %}
{% endif %}

{% block title %}About me{% endblock %}

{% block content %}
<div class="twocolumns">
    <h1>About me</h1>

    <p>
        Hi, everyone! My name is <i>Ivan Poroshin</i> and I'm third year computer science undergraduate
        student and enthusiastic programmer, interested in gamedev,
        computer vision, bioinformatics and more.
    </p>

    <p>Also, you can find me by my nickname <i>niemandkun</i>.</p>
</div>

<div class="avatar twocolumns">
    <div class="expand"></div>
    <img src="{{ url_for('about.static', filename='avatar.jpg') }}" alt="me">
    <div class="expand"></div>
</div>

<div class="onecolumn">
    <p>
        My current location is Yekaterinburg, where I'm studying math and
        computer science as a student of
        <a href="http://imkn.urfu.ru">The Institute of
        Mathematics and Computer Sciences</a> of
        <a href="http://urfu.ru/en/">The Ural Federal University</a>.
    </p>
</div>

<div class="onecolumn">
    <h2>Science</h2>
    <p>
        I've spent last summer as a volunteer worker in The Laboratory of
        Mathematical Modelling with Supercomputer Technologies at
        <a href="http://iip.uran.ru">The Institute of Immunology and Physiology RAS</a>,
        where I've got a chance to help the researchers in their study of
        how to cure human heart diseases.
    </p>
    <p>
        There I've learnt computer vision and have written a lot of Python code
        using NumPy, SciPy, pandas, scikit-learn, scikit-image and OpenCV.
    </p>
    <p>
        As a revard I've got a chance to attend
        <a href="http://conf.bionet.nsc.ru/bgrssb2016/?lang=en">The
        International Conference On Bioinformatics of Genome Regulation
        and Structure/Systems Biology</a> at Novosibirsk State University
        as a listener.
        There I've learnt a lot about biology.
    </p>
</div>

<div class="onecolumn">
    <h2>Programming</h2>
    <p>
        After the first year of studying I've decided to participate with
        my mates in local competitions on virtual robotics, where
        participants were asked to write a program for a fully
        autonomous robot acting in a virtual environment.
    </p>
    <p>
        Our team was lucky enough to take the first place with the solution
        that used only some graph algorithms and a finite-state automaton.
    </p>
    <p>
        Now I'm taking part in the development of new competitions,
        which involves development and implementation of the contest's rules,
        development of the competitions Unity3D app and the infrastructure
        maintenance.
    </p>
</div>

<div class="twocolumns">
    <h2>Interests</h2>
    <p>
        I have interests in various fields, but the most passionate I am in:
    </p>
    <ul>
        <li>Bioinformatics</li>
        <li>Computer vision</li>
        <li>Machine learning</li>
        <li>Gamedev and computer graphics</li>
        <li>Functional programming</li>
    </ul>
</div>

<div class="twocolumns">
    <h2>Hobbies</h2>
    <p>
        As a hobby I'm doing various gamedev, web or assembly stuff. Some of
        that stuff is available on my <a href="/projects">projects</a>
        page.
    </p>
    <p>
        I like to play games and have a
        <a href="https://steamcommunity.com/profiles/76561198058887699">Steam</a>
        profile. So, if you'd like to play together, just let me know.
    </p>
    <p>
        Also, I have a
        <a href="http://rosalind.info/users/niemandkun">Rosalind</a> profile.
    </p>
</div>

<div class="twocolumns">
    <h2>This Website</h2>
    <p>
        This website is extremely lightweight.
        It was built from scratch with no JS and CSS frameworks.
        Server is located at my home on a
        <a href="https://www.raspberrypi.org/">Raspberry Pi</a>
        microcomputer.
    </p>
    <p>
        <a href="http://flask.pocoo.org/">Flask</a> is used to generate and send
        pages via Ajax.
    </p>
    <p>
        Source code for this website is published under MIT License and
        available for everyone on
        <a href="https://github.com/niemandkun/diaphragm">GitHub</a>.
    </p>
</div>

<div class="twocolumns">
    <h2>Contacts</h2>

    <p>If you want to contact me, you may:</p>

    <ul>
        <li>Send me an <a href="mailto:niemandkun@yandex.ru">email</a></li>
        <li>Follow me on <a href="https://vk.com/niemandkun">VK</a></li>
        <li>Send me a message on <a href="https://github.com/niemandkun">GitHub</a></li>
    </ul>

    <p>:)</p>
</div>
{% endblock %}
