html {
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: 'PT Serif', serif;
    overflow-y: scroll;
}

a {
    color: #01579b;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.container {
    margin: auto;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    min-height: 100%;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-wrap: nowrap;
    background-color: #f5f5f5;
}

.cover {
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    position: fixed;
}

.cover-hidden {
    z-index: -1;
    background-color: transparent;
}

.cover-visible {
    z-index: 100;
    background-color: rgba(220, 220, 220, 0.8);
}

.header {
    width: 100%;
    z-index: 200;
    height: auto;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: center;
}

.wrapper,
.title,
.menu {
    color: inherit;
    background-color: inherit;
}

.menu:hover,
.navigation a:hover {
    cursor: pointer;
    background-color: #eee;
}

.header {
    background-color: white;
}

.header,
.wrapper {
    border-bottom: 2px solid lightgrey;
}

.wrapper {
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    z-index: 9000;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

.title {
    padding: 0 1em;
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    height: 3em;
    line-height: 3em;
}

.menu {
    line-height: 3em;
    width: 3em;
    text-align: center;
}

.navigation-closed {
    margin-top: -3.5em;
}

.navigation-closed a {
    visibility: hidden;
}

.navigation-open {
    margin-top: 0;
}

.navigation a {
    height: 3em;
    line-height: 3em;
    padding: 0 0.5em;
    display: inline-block;
    text-decoration: none;
}

.content > .avatar {
    text-align: center;
    display: none;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    align-items: center;
    padding: 2em 0;
}

.avatar img {
    flex: 0 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    width: 15em;
    border-radius: 50%;
}

.menu,
.cover,
.header,
.navigation,
.navigation a {
    transition-duration: 0.2s;
}

.content {
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-top: 3.2em;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
}

.content > div {
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    padding: 1em;
    border-radius: 2px;
    margin: 0.3em 0em;
    background-color: white;
    border-bottom: 2px solid lightgrey;
}

.onecolumn {
    width: 100%;
}

.twocolumns {
    width: 100%;
}

.footer {
    color: grey;
    padding: 0.5em 1em;
    text-align: center;
}

.footer a {
    color: grey;
}

.spinner,
.content div.error,
.content div.welcome,
.content div.coming-soon {
    background-color: transparent;
    text-align: center;
    border: none;
    margin-top: 4em;
    color: grey;
}

.spinner {
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    display: none;
    margin: 0;
    align-items: center;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
}

.expand {
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
}

@media screen and (min-width: 480px) {
    .header {
        flex-direction: row;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
    }

    .cover-visible, .cover-hidden {
        z-index: -1;
        background-color: white;
    }

    .wrapper {
        border: none;
        width: auto;
    }

    .menu {
        display: none;
    }

    .navigation {
        padding: 0 1em;
    }

    .navigation-closed {
        margin: 0px;
    }

    .navigation-closed a {
        visibility: visible;
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 100%;
        background-color: white;
    }

    .header {
        position: relative;
        border-bottom: 1px solid lightgrey;
        background-color: transparent;
    }

    .title {
        margin-left: 0.5em;
    }

    .navigation a {
        text-decoration: underline;
    }

    .navigation a:hover {
        background-color: transparent;
    }

    .content {
        margin-top: 1em;
    }

    .content > div {
        border: none;
        background-color: white;
        padding: 0;
        margin: 0 1em;
    }

    .content > .avatar {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    }

    .footer {
        text-align: right;
    }
}

@media screen and (min-width: 800px) {
    .container {
        width: 800px;
    }

    .onecolumn {
        width: 100%;
    }

    .twocolumns {
        width: 40%;
    }

    .content {
        padding: 0;
    }

    .title, .navigation {
        padding: 0;
    }
}
